.InputForm{
    margin-bottom:15px;
}
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    padding-right:15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="textR"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
}

.submit-button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ff564f;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 14px;
    margin-bottom: 15px;
    margin-right: 5px;
    background: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: #e0e0e0;
}

input[type='file'] {
    position: absolute;
    left: -9999px;
}